body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    min-width: 1226px;
}

/* 设置一个类， 这个类用来表示中间容器的宽度  哪个容器有这个需求直接加上这个 ，就行。 */
.w{
    /* 固定容器的宽度 */
    width: 1226px;
    /* 设置容器居中 */
    margin: 0 auto;
}
/* 统一设置下 a 标签的文字颜色 */
.topbar a{
    color: #b0b0b0;
    /* 设置超链接为块级元素， 使他能够撑满父元素 */
    display: block;
}
/* a标签的文字在鼠标移入的时候， 显示为白色字体 */
.topbar a:hover{
    color: #fff;
}

.topbar-wrapper{
    /* 上面的导航栏宽度百分百 */
    width: 100%;
    /* 上面导航栏背景颜色 */
    background-color: #2d2d2d;
    /* 让里面的元素在高度为30的空间中 垂直居中展示 */
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;

}
.topbar {
    font-size: 14px;
    color: #4f4f4f;
}

/* 浮动 */
.service ,.topbar li{
    float: left;
}

.shop-car ,.user-info{
    float: right;
}
.qrCode{
    overflow:hidden;
    color: black;
    line-height: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    text-align: center;
    display: block;
    width: 100px;
    height: 0px;
    position: absolute;
    z-index: 999;
    top: 40px;
    left: -25px;
    transition: height 0.2s;
}

.qrSwarpper::before {
    content: "";
    display: none;
    color: #fff;
    width: 0;
    height: 0;
    top: 32px;
    left: 12px;
    position: absolute;
    z-index: 10;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.qrCode img{
    margin-top: 10px;
    width: 80px;
}
.qrSwarpper:hover .qrCode{
    height: 120px;
}
.qrSwarpper:hover::before{
    display: block;
}

/* 设置分割线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0px 8px;
}

.shop-car{
    margin-left: 20px;
    position: relative;
}

.shop-car a {
    width: 120px;
    background-color: #424242;
    text-align: center;
    position: relative;
    margin-left: 3px;
}
/* 给图片字体设置大小，防止它和当前文字大小不一样， */
.shop-car a i{
    font-size: 1em;
}

.shop-car:hover a{
    background-color: #fff;
    color: #ff6700;
} 
.shop-car .car{
  
    z-index: 99999;
    right: 0;
}
.shop-car .car-info {
    display: none;
    width: 318px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    right: 0px;
    top: 40px;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: #fff;

}
.shop-car:hover .car-info{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.qrSwarpper{
    position: relative;
}


.header-warpper{
    position: relative;
    width: 100%;
}
.header-warpper .header{
    height: 100px;
   
}
/* 设置logo的容器 为左浮动 并且开启绝对定位， 为里面的元素 指定定位位置 */
.logo {
    float: left;
    margin-top: 22.5px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    /* 隐藏logo中的文字的一个手段 */
    text-indent: -9999px;
    
}
/* logo容器中的子元素 设置背景，及定位 */
/* 设置过渡效果 */
.logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
    background-size: 55px 55px; 
    background-position: center;
    background-image: url(https://img1.baidu.com/it/u=2488361184,308093308&fm=26&fmt=auto&gp=0.jpg);
    transition: left 0.2s;
}
/* 为容器中的home元素 重置下定位位置 */
.logo .home{
    left: -55px;
    background-image: url(https://img0.baidu.com/it/u=625613313,2787896010&fm=26&fmt=auto&gp=0.jpg);
}

/* 鼠标移入到容器内， 将mi 右移 ， home 右移 */
.logo:hover .mi{
    left: 55px;
}
.logo:hover .home{
    left: 0px;
}
/* 设置标题栏为浮动， 并且左有间距 */
.nav-wrapper{
    float: left;
    margin-left: 7px;
}

/* 标题栏设置高度，和行高 */
.nav-wrapper .nav{
    padding-left: 58px;
    height: 100px;
    line-height: 100px;
}

.nav > li{
    float: left;
}

/* 让a标签充满父元素 */
.nav-wrapper li a{
    display: block;
    font-size: 16px;
    margin-right: 20px;
}
/* 隐藏元素 ，但是还要占据位置呢*/
.nav_all{
    visibility: hidden;
}
/* li标签 鼠标移入的时候， 里面字要变成红 */
.nav-wrapper li a:hover{
    color: red;
}
.nav-wrapper .nav .goods-info{
    overflow: hidden;
    background-color: #fff;
    height: 0;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0;
    transition: height 0.3s;
    z-index: 9999;
}

.nav .goods-info:hover,
.nav .showInfo:hover ~ .goods-info{
    height:228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(36, 27, 27, 0.2) ;
}

.serch-wrapper {
    float: right;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}
.serch-wrapper .search-inp{
    font-size: 16px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 30px;
    float: left;
    width: 242px;
    border: 1px solid rgb(224, 224, 224);
    outline: none;  /* 让默认的轮廓线， 不要了 */
}
.serch-wrapper .search-inp:focus,
.serch-wrapper .search-inp:focus + button
{
    border-color: #FF6700;/* 让获取焦点的时候 把边框的颜色改成 橙色*/
}
.serch-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    font-size: 16px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
}
.serch-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: #fff;
    border: none;
}


.all-goods{
    position: relative;
}

.left-menu{
    padding: 20px 0px;
    width: 234px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: -120px;
    z-index: 999;
    line-height: 1;
}
ul.left-menu li a{
    padding: 0px 30px;
    display: block;
    color: white;
    line-height: 42px;
    margin-right: 0px;

}
.left-menu li a i{
    float: right;
}
.left-menu li a:hover{
    color: white;
    background-color: #ff6700;
}
.ad-info{
    display: none;
    width: 990px;
    height: 460px;
    background-color:#fff;
    position: absolute;
    z-index: 99;
    left: 235px;
    top: 0px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 460px;
}

.left-menu li:hover ~ .ad-info,
.left-menu .ad-info:hover
{
    display: block;
}


.banner{
    height: 460px;
    position: relative;
}

.banner-wrapper .banner .img-list li{
    position:absolute;
}
.banner img{
    width: 100%;
    vertical-align: top;
}
.pointer{
    position: absolute;
    right: 40px;
    bottom: 30px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .4);
    border: 3px solid rgba(255, 255, 255, .4);
    margin-left: 10px;
    border-radius: 50%;
}
.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0, 0, .4);
    background-color:rgba(255, 255, 255, .4);
}
.prev-next a{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
    width: 41px;
    height: 69px;
    background: url(//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) no-repeat -84px 50%;
}

.prev-next .next{
    right: 0px;
    background-position: -126px 0px;
}
.prev-next .prev:hover{
    background-position: 0px 0px;
}
.prev-next .next:hover{
    background-position: -42px 0px;
}

.prev-next .prev{
    left: 234px;
    background-position: -84px 0px;
}

body{
    height: 2000px;
}

/* 让这个固定定位到右边边框上的第一个方法：
1  right: calc(50% - 663px);  
2 , margin-right -663px
因为 浮动后的水平等式是这样的， 
left + margin-left + width + margin-right + right  = 视口宽度。
正常是 left 为 auto 的 ， 
auto       0      +   固定的  + 0          +  0   
我们的目的 是将 left 设置位动态的， 
如果设置了 margin-left 那么  auto 这个值 就会将我们设置的值给补偿回来， 
我们就白设置了， 达不到 目的， 
我们应该设置 margi-right , 这样的话， 只有left 才是动态改变的， 
我们要的就是 left 动态改变 维持浮动块一直在右侧。 所以可以。 
不信可以试下， 
另一种 ，就是设置 right 50%
*/

.float-box {
    position: fixed;
    width: 50px;
    height: 200px;
    right: 50%;
    margin-right: -663px;
    bottom: 200px;
    background-color: orange;
}


.ad {
    height: 170px;
    margin-top: 14px;
}

.ad .shortcut,
.ad .ad-img,
.ad li{
    float: left;
}
.ad .shortcut{
    width: 228px;
    height: 170px;
    background-color: #5f5750;
    margin-right: 14px;
    margin-top: 2px;
    margin-left: 6px;
}
.ad .ad-img li{
    width: 316px;
    margin-right: 15px;
}
.ad .ad-img li:last-child{
    margin: 0px;
}

.ad .ad-img img{
    width: 100%;
    vertical-align: top;
}
.ad .shortcut li{
    position: relative;
}
.ad .shortcut a{
    display: block;
    color: #cfccca;
    height: 84px;
    width: 76px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.ad .shortcut a:hover{
    color: #fff;
}

.ad .shortcut i{
    margin-top: 20px;
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}
.ad .shortcut li::after{
    content: "";
    height: 70px;
    width: 1px;
    background-color: #665e57;
    position: absolute;   
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}
.ad .shortcut li::before{
    height: 1px;
    width: 64px;
    background-color: #665e57;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: 0px auto;
    content: "";
}
